/*Global style start*/
:root {
    --main-color: #117c7b;
    --secondary-color: #1d2847;
    --light-color: #ecebeb;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 10%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
    transition: .3s;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    transition: .3s;
    color: var(--light-color);
    cursor: pointer;
}

section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px;
}

.section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 3%;
    height: 2px;
    background: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.owl-carousel .owl-dots .owl-dot span {
    padding: 0 10px;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-color);
}

@media (max-width: 768px) {
    .owl-carousel .owl-dots .owl-dot span {
        padding: 0;
        margin-right: -2px;
    }
}

/*Global style end */

/*nav*/
.top-nav {
    padding: 10px 0;
    background-color: var(--secondary-color);
    z-index: 1;
}

.top-nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-aria {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-aria img {
    width: 50%;
    margin-inline-end: 7px;
}

.logo-aria span {
    font-size: 30px;
}

.top-nav .lang-btn {
    margin-inline-start: 20px;
}

.top-nav .lang-btn:hover {
    opacity: .8;
}

.top-nav ul {
    display: flex;

}

.top-nav .menu-aria {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav .nav-menu li {
    margin-inline-start: 20px;
}

.top-nav .nav-menu li a:hover {
    transform: translateY(-5px);
}

.top-nav ul li {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

.nav-assest {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.top-nav a:hover,
.top-nav button:hover {
    color: var(--main-color)
}

.top-nav .mobile-menu-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    .top-nav .nav-menu {
        display: none;
    }

    .top-nav .mobile-menu-btn {
        font-size: 25px;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .top-nav.nav-menu-mobile {
        position: relative;
    }

    .top-nav.nav-menu-mobile ul {
        display: block;
        background: var(--secondary-color);
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        display: flex;
        flex-direction: column;
    }

    .top-nav.nav-menu-mobile ul li {
        padding: 15px;
        margin-inline-start: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    }
}

/*end nav*/

/*Header Start*/
header {
    margin: 50px 0;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 55%;
    margin-bottom: 10px;
}

.header-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.header-content p {
    font-size: 20px;
    line-height: 1.3;
}

.header-img {
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
}

.header-img img {
    width: 100%;
}

.header-img span {
    font-size: 50px;
    color: var(--secondary-color);
}

@media (max-width:768px) {
    .header-content {
        width: 100%;
        text-align: center;
    }

    .header-img {
        width: 100%;
    }
}

/* End Header  */

/* Start Social Media Section */
#socialMediaSection {
    border-bottom: 2px solid #bdbdbd;
    padding: 40px 0;
    background-color: var(--light-color);
}

#socialMediaSection .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#socialMediaSection .content-area {
    width: 50%;
}

#socialMediaSection .content-area h2 {
    margin-bottom: 10px;
}

#socialMediaSection a {
    color: var(--secondary-color);
    font-size: 50px;
}

#socialMediaSection a:hover {
    color: var(--main-color);
    transform: translateY(-5px);
}

.social-icons-list {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width:768px) {
    #socialMediaSection .content-area {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-icons-list {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* End Social Media Section  */

/* Deals section  */

.deals-carousel .item {
    position: relative;
    height: 80vh;
    transition: .3s;
}

.deals-carousel .item .item-img {
    height: 100%;
    width: 100%;
    transition: .3s;
}


.deals-carousel .item .item-info {
    position: absolute;
    max-width: 50%;
    top: 150%;
    padding: 30px 20px;
    margin-inline-start: 40px;
    transition: .3s;
}

.deals-carousel .item:hover .item-info {
    top: 60%;
    transform: translateY(-50%);
    background-color: #117c7a60;
    color: var(--light-color);
}

.deals-carousel .item:hover .item-img {
    filter: blur(2px);
}

/* End Deals section  */

/* Start Our Team Section  */
#ourTeamSection{
    background-image: url(../img/team-section-bg.png);
    background-size: contain;
}
@media (max-width:768px) {
    #ourTeamSection{
        background-size: cover;
    }
}
.our-team-carousel .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team-carousel .item {
    position: relative;
    margin: 50px;
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .our-team-carousel .item {
        margin: 10px;
    }
}

.our-team-carousel .item img {
    width: 100%;
    margin: auto;
}

.our-team-carousel .item .item-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 1000px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    text-align: center;
    background-color: #117c7a9e;
    transition: .3s;
}

.our-team-carousel .item:hover .item-info {
    top: 50%;
}

.our-team-carousel .item-info h3 {
    font-size: 26px;
}

.our-team-carousel .item-info span {
    font-size: 18px;
}

/* End our Team Section  */

/* Features section */
#featuresSection .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#featuresSection .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    height: 200px;
    background-color: transparent;
    transition: .3s;
}

#featuresSection .item:hover {
    background-color: var(--main-color);
    color: var(--light-color);
    box-shadow: 5px 5px 10px 10px var(--light-color);
}

#featuresSection .item:hover i {
    color: var(--light-color);
}

#featuresSection .item i {
    transition: .3s;
    font-size: 60px;
    margin-bottom: 10px;
    color: var(--main-color);
}

#featuresSection .item .item-title {
    font-size: 30px;
    margin-bottom: 10px;
}

#featuresSection .item .item-info {
    font-size: 14px;
}

@media (max-width:768px) {
    #featuresSection .item {
        width: 100%;
    }
}

/* End Features Section */

/*footer*/
footer {
    position: relative;
    background: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .to-top {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

footer .to-top:hover {
    color: var(--main-color);
}

footer .social-icons-list {
    width: 12%;
    font-size: 30px;
    margin-bottom: 10px;
}

footer .social-icons-list a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}

@media (max-width:768px) {
    footer .social-icons-list li {
        margin-inline-end: 10px;
    }
}

/*End footer*/
